.search-bar {
  form {
    display: flex;
    border-radius: 15px;
    input {
      border: none;
      padding: 6% 5%;
      border-radius: 10px 0 0 10px;
      width: 70vw;
    }
    button {
      border: none;
      background-color: black;
      padding: 6% 5%;
      border-radius: 0 10px 10px 0;
      width: 15vw;
    }
  }
}
